* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 0;
}

header {
    background-color: #1e3c72;
    color: white;
    padding: 15px 0;
    text-align: center;
    width: 100vw;
}

footer {
    background-color: #1e3c72;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    gap: 25px;
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    display: block;
    margin-top: 20px;
    background-color: #1e3c72;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    height: 20px;
    text-align: center;
}

#checkProfitability {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    text-transform: uppercase;
}

#formulaParameters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}